@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

:root {
  --font: "Zilla Slab", serif;
  --font-title: "Zilla Slab", serif;
  --font-sans-serif: "Manrope", sans-serif;
  --black: #1c1f33;
  --black--acc: #222;
  --gray: #eee;
  --gray-1: #ededed;
  --toastify-font-family: "Zilla Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  background: var(--preview-bg);
  font-family: var(--font);
  color:rgb(23, 21, 20);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png)
    repeat;
  line-height: 1.3;
  text-align: justify;
}

footer{
  margin-top: -1000px;
  color: gray;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--black);
}
a:active {
  color: gray;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  margin-bottom: 1em;
  border: solid var(--black);
  border-width: 2px 0;
  padding: 0.5rem 0;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid var(--black);
  border-width: 1px 0;
  padding: 0.2em;
  font-weight: bold;
}

.header ul li {
  margin-left: 20px;
  border-right: solid var(--black);
  border-width: 2px 0;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px auto;
  padding: 0 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading p {
  color: #828282;
}

.logo {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 5.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.boxes div {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
  font-size: 1em;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1em;
}

.form-group label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  
}

.Toastify {
  font-family: var(--font);
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  text-align: center;
  width: 25%;
  /* margin-bottom: 20px; */
  margin:10px auto;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.btn:hover {
  transform: scale(0.98);
}

.topic-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.topic-number {
  margin-bottom: 30px;
}

.topic-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.topic-number p {
  font-size: 1.3rem;
}

.topic-info {
  font-size: 1.3rem;
}

.topic,
.topic-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.topic-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}

.topic-page {
  position: relative;
  text-align: left;
}

.topic-page h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topic-page .btn {
  margin-bottom: 30px;
}

.topic-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.topic-desc {
  margin: 20px 0;
  font-size: 17px;
  /* background-color: #f4f4f4; */
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
}

.note {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.note-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

.Topics{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .topic-created h2,
  .heading h1 {
    font-size: rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.Max-Fishing {
  grid-area: news_1;
}

.Bait-Fishing {
  grid-area: news_2;
}

.Lure-Fishing {
  grid-area: news_3;
}

.Flying-Fishing {
  grid-area: news_4;
}

.Trolling-Fishing {
  grid-area: news_5;
}

.News_Container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 30% 30%;
  grid-template-areas:
    "news_1 news_1 news_1 news_5"
    "news_2 news_2 news_4 news_5"
    "news_3 news_3 news_3 news_3";
  row-gap: 3em;
  max-height: 3000px;
}

section {
  margin: 0;
  padding: 1em;
  width: 100%;
  text-align: center;

}
.News-Title {
  grid-area: News-Title;
}

.vectorImg {
  width: auto;
  height: 5%;
  grid-area: vectorImg;
}

/* .vectorImg:hover {
  fill: aquamarine;
  cursor: pointer;
} */

.Fishing_Info {
  margin-top: 2em;
  grid-area: Fishing_Info;
  font-size: 1.3em;
}

.fish-img {
  grid-area: fish-img;
  width: 50%;
  height: 27rem;
  padding: 2em;
  float: left;
}

.fish-desc {
  margin-top: 8em;
  grid-area: fish-desc;
  font-size: 1.2em;
  text-align: left;
}
.ReadMore {
  font-weight: 700;
  font-style: italic;
}

.Max-Fishing {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "News-Title News-Title News-Title News-Title"
    "vectorImg vectorImg vectorImg Fishing_Info"
    /* "fish-img fish-img fish-img fish-img" */
    "fish-desc fish-desc fish-desc fish-desc";

  height: 95%;
  margin-bottom: 55em;
  padding: 1em;
  width: 100%;
  text-align: left;
}

.Max-Fishing .vectorImg {
  width: 90%;
  margin-top: 1em;
}

.Max-Fishing .News-Title {
  font-size: 5.7em;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 4em;
}

.DailyFish {
  width: 100%;
  height: 20em;
  padding: 1em;
}

.Trolling-Fishing {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 25% 8% 20%;
  grid-template-areas:
    "News-Title"
    "vectorImg"
    "Fishing_Info"
    "fish-desc";
  border-left: 1.5px solid gray;
  height: 95%;
  max-width: 100%;
  padding: 1em;
  width: 100%;
  text-align: left;
}

.Trolling-Fishing .News-Title {
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.TrollingFish {
  width: 100%;
  height: 20em;
  padding: 1em;
}

.Lure-Fishing {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 2% 5%;
  grid-template-areas:
    "News-Title vectorImg"
    "Fishing_Info Fishing_Info"
    "fish-desc fish-desc";
  /* border-right: 1.5px solid gray; */
  margin-top: -8em;
  padding: 1em;
  width: 100%;
  text-align: left;
}

.Lure-Fishing .News-Title {
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.LureFish {
  width: 100%;
  height: 15em;
  padding: 1em;
}

.Bait-Fishing {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 6% 9% 5%;
  grid-template-areas:
    "News-Title News-Title"
    "vectorImg Fishing_Info"
    "fish-desc fish-desc";
  /* border-right: 1.5px solid gray; */
  column-gap: 0.5em;
  margin-bottom: -60em;
  padding: 1em;
  width: 100%;
  text-align: left;
}

.Bait-Fishing .News-Title {
  font-size: 4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.BaitFish {
  width: 100%;
  height: 22em;
  padding: 1em;
}

.Flying-Fishing {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.2% 12% 1% 0%;
  grid-template-areas:
    "News-Title"
    "vectorImg"
    "Fishing_Info"
    "fish-desc";
    margin-bottom: -60em;
    padding: 1em;
    width: 100%;
    text-align: left;
  /* border-left: 1.5px solid gray; */
}

.Flying-Fishing .News-Title {
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.FlyingFish {
  width: 100%;
  height: 22em;
  padding: 1em;
}

.Flying-Fishing .Fishing_Info {
  font-size: 0.9em;
}

.Flying-Fishing .fish-desc {
  font-size: 0.9em;
}

.R-detail{
  text-align: left;
}

.Article_Info{
  padding-left: 35px;
  text-align: left;
}

/* .topic-view{
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
} */