@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap"); */

/************ Custom Font ************/
@font-face {
  font-family: Alice;
  src: url("./assets/font/Alice in Wonderland.ttf");
  font-weight: 700;
}

:root {
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-title: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --black: #1c1f33;
  --black--acc: #222;
  --gray: #eee;
  --gray-1: #ededed;
  --toastify-font-family: "Zilla Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.1rem;
  background: var(--preview-bg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black--acc);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png)
    repeat;
  line-height: 1.3;
  text-align: justify;
}

.footer {
  display: inline-block;
  width: 100%;
  border-top: 1.7px solid grey;
  padding-top: 1em;
  margin: 2em auto;
  color: gray;
  font-size: 0.7em;
  font-style: italic;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--black);
}
a:active {
  color: gray;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.boxes div {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
  font-size: 1em;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 1em;
}

.form-group label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.Toastify {
  font-family: var(--font);
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  text-align: center;
  width: 25%;
  /* margin-bottom: 20px; */
  margin: 10px auto;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.btn:hover {
  transform: scale(0.98);
}

.topic-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.topic-number {
  margin-bottom: 30px;
}

.topic-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.topic-number p {
  font-size: 1.3rem;
}

.topic-info {
  font-size: 1.3rem;
}

.Article_Info{
  text-align: left;
}
.R-detail{
  text-align: left;
}

.topic,
.topic-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.topic-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}

.topic-page {
  position: relative;
  text-align: left;
}

.topic-page h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topic-page .btn {
  margin-bottom: 30px;
}

.topic-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.topic-desc {
  margin: 20px 0;
  font-size: 17px;
  /* background-color: #f4f4f4; */
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
}

.note {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.note-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

.Topics {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5em;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .topic-created h2,
  .heading h1 {
    font-size: rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* Home Page */

.container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  grid-auto-columns: 1fr;
  justify-content: center;
}

.header {
  margin-bottom: 1em;
  border: solid var(--black);
  border-width: 2px 0;
  padding: 0.5rem 0;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid var(--black);
  border-width: 1px 0;
  padding: 0.2em;
  font-weight: bold;
  flex-direction: column;
}

.header ul li {
  /* margin-left: 20px; */
  border-right: solid var(--black);
  border-width: 2px 0;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px auto;
  padding: 0 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.heading p {
  color: #828282;
}

.logo {
  font-family: "Alice", cursive;
  font-size: 6vw;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.News_Container {
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";

  width: min(100%, 100rem);
  margin-inline: auto;
  margin: 0 auto;
}

.Max-Fishing {
  grid-area: one;
}

.Bait-Fishing {
  grid-area: two;
}

.Lure-Fishing {
  grid-area: three;
}

.Flying-Fishing {
  grid-area: four;
}

.Trolling-Fishing {
  grid-area: five;
}

section {
  margin: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.News-Title {
  font-size: 7vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  text-align: center;
}

.vectorImg {
  max-width: 100%;
  max-height: 100%;
}

.fish_imgV {
  max-width: 100%;
}

.Fishing_Info {
  font-size: 1em;
  text-align: justify;
  margin: 0 auto;
}

.ReadMore {
  font-weight: 700;
  font-style: italic;
}

.fish-img {
  max-width: 100%;
  height: 37vh;
  padding: 2em;
  float: left;
}

.fish_desc {
  text-align: left;
}

@media screen and (min-width: 600px) {
  .header ul {
    flex-direction: row;
  }

  .News_Container {
    grid-auto-columns: 1fr;
    grid-template-areas:
      "one one one five"
      "two two two five"
      "three three four four";
  }

  .Max-Fishing {
    grid-auto-columns: 1fr;
    grid-template-areas:
      "e1"
      "e2"
      "e3"
      "e4";
  }

  .Bait-Fishing {
    grid-auto-columns: 1fr;
    grid-template-areas:
      "e1"
      "e2"
      "e3"
      "e4";
  }
  .Lure-Fishing {
    grid-template-areas:
      "e1"
      "e2"
      "e3"
      "e4";
  }

  .Flying-Fishing {
    border-left: 1.7px solid gray;
    grid-template-areas:
      "e1"
      "e2"
      "e3"
      "e4";
  }

  .Trolling-Fishing {
    border-left: 1.7px solid grey;
    grid-template-areas:
      "e1"
      "e2"
      "e3"
      "e4";
  }
  .News-Title {
    text-align: left;
    font-size: 4vw;
    grid-area: e1;
  }
  .Max-Fishing .News-Title {
    font-size: 4.8vw;
  }

  .fish_imgV {
    grid-area: e2;
  }

  .Fishing_Info {
    font-size: 2vw;
    text-align: left;
    grid-area: e3;
  }

  .fish_desc {
    font-size: 1.5vw;
    grid-area: e4;
  }
}

@media screen and (min-width: 800px) {
  .header ul {
    flex-direction: row;
  }

  .News_Container {
    grid-auto-columns: 1fr;
    grid-template-areas:
      "one one one five"
      "two two two five"
      "three three four four";
  }

  /* News Title */

  .News-Title {
    font-size: 5vw;
    grid-area: e1;
  }

  .Max-Fishing .News-Title {
    text-align: left;
    font-size: 5vw;
  }

  .Trolling-Fishing .News-Title {
    font-size: 3vw;
    text-align: left;
  }

  .Bait-Fishing .News-Title {
    font-size: 4.5vw;
    text-align: left;
  }

  .Lure-Fishing .News-Title {
    font-size: 2.8vw;
    text-align: left;
  }
  .Flying-Fishing .News-Title {
    font-size: 2.7vw;
    text-align: left;
  }

  /* Fish Vector Image */

  .fish_imgV {
    grid-area: e2;
  }

  .Trolling-Fishing .fish_imgV {
    max-height: 90%;
  }

  /* Fishing Info */
  .Fishing_Info {
    grid-area: e3;
  }

  .Max-Fishing .Fishing_Info {
    font-size: 1.2vw;
    align-self: center;
  }
  .Bait-Fishing .Fishing_Info {
    font-size: 1vw;
    align-self: center;
  }
  .Lure-Fishing .Fishing_Info {
    font-size: 1vw;
    align-self: center;
  }
  .Flying-Fishing .Fishing_Info {
    font-size: 1vw;
    align-self: center;
  }
  .Trolling-Fishing .Fishing_Info {
    font-size: 1.2vw;
    align-self: center;
  }

  .fish_desc {
    font-size: 1.1vw;
    grid-area: e4;
  }

  .Max-Fishing {
    grid-auto-columns: 1fr;
    grid-template-areas:
      "e1 e1 e1"
      "e2 e2 e3"
      "e4 e4 e4";
  }

  .Bait-Fishing {
    grid-auto-columns: 4fr;
    grid-template-areas:
      "e1 e1 e1"
      "e2 e2 e3"
      "e4 e4 e4";
  }

  .Lure-Fishing {
    grid-template-areas:
      "e1 e1 e1"
      "e2 e2 e3"
      "e4 e4 e4";
  }

  .Flying-Fishing {
    border-left: 1.7px solid gray;
    grid-template-areas:
      "e1 e1 e1"
      "e2 e2 e3"
      "e4 e4 e4";
  }

  .Trolling-Fishing {
    border-left: 1.7px solid grey;
    grid-template-areas:
      "e1"
      "e2"
      "e3"
      "e4";
  }
}
